* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #222;
  padding: 5rem 0;
  font-weight: 300;
}
.codebox {
  /* padding-bottom: 2rem; */
}
.title {
  text-align: center;
  font-size: 5rem;
  color: gold;
  font-family: serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-family: 'Praise', cursive;
  /* background-color: #000; */
  /* margin-bottom: 5rem; */
  /* padding: 2rem; */
}
pre {
  border: 5px solid gold;
  font-size: 1.25rem;
  color: aliceblue;
  background-color: #222;
  margin-bottom: 5rem;
  padding: 2rem;
}
pre code {
  /* padding: 2rem; */
}

.features ul {
  /* font-family: 'Praise', cursive; */
  list-style: none;
  color: yellowgreen;
  font-weight: 600;
  font-size: 1.5rem;
  font-style: italic;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.container {
  text-align: center;
  background-color: #333;
  color: gold;
  min-height: 100vh;
  padding: 2rem;
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;
}
.gridH1 {
  background-color: #333;
  margin: 5rem 0 0;
  padding: 1rem;
}
.grid {
  background-color: #333;
  padding: 2rem;
}
.grid-item {
  background-color: #444;
  padding: 2rem;
}
.flexH1 {
  margin-top: 2rem;
  background-color: #333;
  padding: 2rem;
}
.flex {
  background-color: #333;
  padding: 2rem;
}
.flex-item {
  background-color: #444;
  padding: 2rem;
}
