* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #222;
  padding: 5rem 0;
  font-weight: 300;
  font-family: 'Roboto';
}
.codebox {
  padding-top: 10rem;
  /* padding-bottom: 2rem; */
}
.title {
  text-align: center;
  font-size: 5rem;
  color: gold;
  font-family: serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-family: 'Praise', cursive;
}
.title.code {
  margin-top: 10rem;
  margin-bottom: 1rem;
}
.logo {
  color: #444;
  font-size: 0.86em;
  display: none;
}
.logo-back {
  color: #252525;
  color: #333;
  color: rgba(255, 255, 255, 0.0351);
  font-size: 6em;
  position: fixed;
  top: 0;
  left: -20vw;
  height: 150vh;
  width: 150vw;
  z-index: -100;
}
@media screen and (max-width: 900px) {
  .logo-back {
    top: -20vh;
  }
}

p {
  /* font-style: italic; */
  text-align: center;
  letter-spacing: 0.25px;
  font-size: 2rem;
  margin-bottom: 2rem;
  /* font-weight: 400; */
  color: #888;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
}
nav .bars,
nav .close {
  display: none;
}
nav a {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid;
  color: #888;
  /* text-transform: uppercase; */
}
nav a:hover {
  color: #aaa;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 900px) {
  nav {
    /* position: relative; */
    padding: 0;
  }
  nav .links-md {
    display: none;
  }
  nav .modal-xs {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    color: aliceblue;
    height: 100vh;
    width: 100vw;
    background-color: #222;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadein 0.3s ease;
    /* transition: all 2s; */
  }
  nav a {
    font-size: 1.5rem;
    padding: 1rem;
  }

  nav .bars,
  nav .close {
    display: block;
    /* color: lightblue; */
    color: #ccc;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(90deg);
    letter-spacing: 2px;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  nav .close {
    position: fixed;
    font-size: 2.5rem;
    font-weight: 300;
  }
}
pre {
  border: 5px solid gold;
  margin-bottom: 5rem;
  /* padding: 2rem; */
}
.features .ul {
  color: yellowgreen;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: italic;
  padding: 2rem 0;
}

.features .li {
  padding: 0.5rem 0 0;
}
.features svg {
  color: #888;
  padding-right: 5px;
  font-size: 1rem;
}

@media screen and (max-width: 900px) {
  .features .li {
    padding: 1rem 0 0;
  }
}
.example {
  text-align: center;
  background-color: #333;
  color: goldenrod;
  min-height: 100vh;
  padding: 2rem;
  border: 5px solid gold;
  font-weight: 300;
  margin-top: 0.75em;
}
.example h1 {
  background-color: #333;
  margin: 5rem 0 0;
  padding: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
}
.example h3 {
  font-weight: 400;
  letter-spacing: 2px;
}
.grid {
  background-color: #333;
  padding: 2rem;
  border: 2px dashed;
}
.grid > div {
  background-color: #444;
  padding: 2rem;
}
.flex {
  background-color: #333;
  padding: 2rem;
  border: 2px dashed;
}
.flex > div {
  background-color: #444;
  padding: 2rem;
}

.tabs div {
  color: #fff;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border: 2px dotted gold;
  margin: 1rem;
  margin-bottom: 3rem;
  opacity: 0.4;
}
.tabs div:hover {
  opacity: 1;
  cursor: pointer;
}
.tabs div:active {
  opacity: 1;
}
